<div>
  <ul>
    <li><a [routerLink]="['/home']">Home</a></li><br>
    <li><a [routerLink]="['/cadastro-candidato']">Cadastro Candidato</a></li><br>
    <li><a [routerLink]="['/consulta-candidato']">Consultar Candidatos</a></li><br>
    <li><a [routerLink]="['/cadastro-cargo']">Cadastro Cargo</a></li><br>
    <li><a [routerLink]="['/consulta-cargo']">Consultar Cargos</a></li><br>
    <li><a [routerLink]="['/admitir-candidato']">Admitir Candidato</a></li>
    <li><a [routerLink]="['/cadastro-funcionario']">Cadastra Funcionario</a></li>
    <li><a [routerLink]="['/consulta-funcionario']">Consultar Funcionarios</a></li>
    <li><a [routerLink]="['/cadastro-treinamento']">Cadastra Treinamento</a></li>
    <li><a [routerLink]="['/consulta-treinamento']">Consultar Treinamentos</a></li>
    <li><a [routerLink]="['/consulta-bancodeTalentos']">Consulta Banco de Talentos</a></li>
    <li><a [routerLink]="['/cadastro-selecao']">Cadastrar Selecao</a></li>
    <li><a [routerLink]="['/consulta-selecao']">Consultar Selecao</a></li>
  </ul>
</div>
