div {
    float: left;
    width: 260px;
    height: auto;
    margin-left: 0;
    border-style: solid;
    border-color: #213E8D;
    border-radius: 12%;
}

ul {
    list-style-type: none;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    background-color: #213E8D;
    vertical-align: bottom;
    border-radius: 12%;

}

li {
    float: left;
    width: 100%;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color: #213E8D;
    border-width: 2px;
    border-bottom-style: outset;
    border-color: black;
}
