<form (ngSubmit)="salvarSelecao()">

  <br/>
  <h3>{{titulo}}</h3>

  <label>Id:
      <input type="input" name="id" size="10" [(ngModel)]="selecao.id" disabled/>
  </label><br/><br/>

  <label>Nome:
      <input type="input" name="tipoSelecao" size="30" [(ngModel)]="selecao.tipoSelecao"/>
  </label><br/><br/>
  <label>Data do Inicio da Seleção:
      <input type="date" name="dataSelecao" size="30" [(ngModel)]="selecao.dataSelecao"/>
  </label><br/><br/>

  <button type="submit">Salvar</button>
</form>

