<div id="admitir">
    <h3>{{titulo}}</h3>

    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>Nome</th>
            <th>Avaliação Geral</th>
            <th>Habilidades</th>
            <th>Cargo</th>
            <th>Contratar</th>
        </tr>
        </thead>

        <tbody>
            <tr *ngFor="let candidato of candidatos; let i = index;">
            <td>{{ candidato.id }}</td>
            <td>{{ candidato.nome }}</td>
            <td>{{candidato.avaliacaoGeral}}</td>
            <td>{{candidato.habilidades}}</td>
            <td>
              <select name="cargo" >
                 <option *ngFor="let cargo of cargos; let i = index;" value=cargo >{{cargo.nomeCargo}}</option>
              </select>
            </td>
            <td><a (click)="contratar(candidato, cargo.id, i);">Contratar</a> </td>
            </tr>
            <tr>
               <td colspan="6" style="text-align: right;">Total de Registros: {{ candidatos.length }}</td>
            </tr>
        </tbody>
    </table>
    </div>
