<form (ngSubmit)="salvarCandidato()">

  <br/>
  <h3>{{titulo}}</h3>
  <span *ngIf="selecoes.length < 1"class="aparecemensagem" >Necessário Cadastrar Uma seleção</span>
  <div [ngClass]="getClass()">
  <label>Id:
      <input type="input" name="id" size="10" [(ngModel)]="candidato.id" disabled/>
  </label><br/><br/>

    <label>Seleção Que vai Participar:
      <select name="selecao" >
        <option *ngFor="let selecao of selecoes; let i = index;" value=selecao>{{selecao.tipoSelecao}}</option>
      </select>
      </label><br/><br/>
      <label>Nome:
          <input type="input" name="nome" size="30" [(ngModel)]="candidato.nome" required />
      </label><br/><br/>
      <label>Avaliação Geral:
          <input type="input" name="avaliacacaoGeral" size="30" [(ngModel)]="candidato.avaliacaoGeral" required />
      </label><br/><br/>
      <label>Idade:
          <input type="number" name="idade" size="30" [(ngModel)]="candidato.idade" required />
      </label><br/><br/>
      <label>Número RG:
          <input type="input" name="numeroRg" size="30" [(ngModel)]="candidato.numeroRg" required />
      </label><br/><br/>
      <label>Número CPF:
        <input type="input" name="numerocpf" size="30" [(ngModel)]="candidato.numerocpf" required />
    </label><br/><br/>
    <label>Telefone:
        <input type="input" name="telefone" size="30" [(ngModel)]="candidato.telefone" required />
    </label><br/><br/>
    <label>Endereço:
        <input type="input" name="endereco" size="30" [(ngModel)]="candidato.endereco" required placeholder="Preencha" />
    </label><br/><br/>
    <label>Data de Nascimento:
        <input type="date" name="dataNas" size="30" [(ngModel)]="candidato.dataNas" required/>
    </label><br/><br/>
    <label>email:
        <input type="email" name="email" size="30" [(ngModel)]="candidato.email" ng-required="required" />
    </label><br/><br/>
    <label>habilidades:
        <input type="input" name="habilidades" size="30" [(ngModel)]="candidato.habilidades" required />
    </label><br/><br/>


      <button type="submit">Salvar</button>
</div>
</form>
