<div id="consultaCargo">
<h3>{{titulo}}</h3>

<table>
    <thead>
    <tr>
        <th>id</th>
        <th>Nome</th>
        <th>Salario</th>
        <th>V. Alimentação</th>
        <th>Editar</th>
        <th>Excluir</th>
    </tr>
    </thead>

    <tbody>
        <tr *ngFor="let cargo of cargos; let i = index;">
        <td>{{ cargo.id }}</td>
        <td>{{ cargo.nomeCargo }}</td>
        <td>{{ cargo.salarioCargo }}</td>
        <td>{{ cargo.valeAlimentacao}}</td>
        <td><a (click)="editar(cargo.id);">Editar</a></td>
        <td><a (click)="excluir(cargo.id, i);">Excluir</a></td>
        <td><a (click)="excluir(cargo.salarioCargo);">Excluir</a></td>
        <td><a (click)="excluir(cargo.valeAlimentacao);">Excluir</a></td>
        </tr>
        <tr>
           <td colspan="4" style="text-align: right;">Total de Registros: {{ cargos.length }}</td>
        </tr>
    </tbody>
</table>
</div>
